body {
    width: 1100px;
}

.header {
    min-height: 105px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
}

.header_menu {
    display: flex;
    justify-items: space-evenly;
    gap: 33px;
    white-space: nowrap;
    margin-left: 24px;
    font-size: 18px;
    width: 391px;
}

.lots_menu {
    text-decoration: underline;
    list-style-type: circle;
}

.delete_marker_and_underline {
    list-style-type: none;
    text-decoration: none;
}

.logo_link {
    display: block;
    height: 105px;
}

.header__logo {
    height: 100%;
    width: 148px;
}

.link {
    display: block;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width: 235px;    
    font-size: 18px;
    line-height: 24px; 
    margin-right: 55px;
}

.address {   
    font-style: normal;
    text-decoration: none;
}

.header_contacts {
    margin-left: 184px;
    justify-self: flex-end;
}

.cover {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 3;
    min-height: 757px;
    width: 1100px;
    color: white;
    margin: 96px 0 179px 0;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.img_cover {
    height: 757px;
}

.cover__title {
    display: grid;
    position: relative;
    z-index: 4;
    padding: 165px 50px 50px;
    margin-bottom: 125px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 115px;   /* ниже отдельно прописаны line-height для каждого слова */
}

.no_interval {    
    letter-spacing: 0;
}

.big_interval {
    letter-spacing: 60px;
}

.aligned-text {
    display: block;
    line-height: 126px;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
}

.cover {
    margin-bottom: 179px;
}

.subline {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 78px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 19px;
}

.bet-button {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    margin-left: 79px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 12px 32px;
}

.lots_item_list{
    max-width: 1052px;
    display: grid;
    grid-template-columns: repeat(3, 334px);    
    grid-auto-flow: row;
    grid-column-gap: 25px;
    grid-row-gap: 27px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 30px;
}

.delete_link_text-underline {
    text-decoration: none;
}

.lots_item_list > :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.lots_item_list_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 40px;    
    line-height: 47px;
}

.lot_card {
    min-height: 563px;
    max-width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.film_of_Thomas_Anderson {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/card-lot-01.jpg");
}

.book_of_James_Joyce {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/card-lot-02.jpg");
}

.Kandinsky_picture {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/card-lot-03.jpg");
}

.lots_title {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: white;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    margin: 51px 40px 0 40px;
}

.lots_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    align-self: flex-end;
    margin: 0px 40px 48px 40px;
    text-decoration: none;
}

.lots__look-more-link{
    margin-top: 30px;
    margin-left: 64px;
    color: black;
    position: relative;
    z-index:1;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: lowercase;
}

.about {
    margin: 155px 24px 183px 24px;
    display: grid;
    grid-template-columns: 362px 1fr;
    grid-template-rows: 275px 145px 1fr;
    grid-template-areas:
    "white_logo about_title"
    ".  first_article"
    ".  second_article";
}

 .circle {
    grid-area: white_logo;
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 47px;
    margin-right: 72px;
}

.white_logo {
    position: relative;
    z-index: 1;
    width: 148px;
    height: 114px;
}

.about_title {
    grid-area: about_title;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 47px;
    margin-top: 130px;    
}

.article {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.first_article {
    grid-area: first_article;    
}

.second_article {
    grid-area: second_article;   
}

.footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 88px;
}

.footer_contacts {
    display: block;    
    max-width: 235px;
    flex-direction: column;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
    justify-items: center;
}

.footer_main_menu {
    display: flex;
    justify-content: center;
}

.footer_lots_menu {
    text-align: center;
}

.logos {
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: end;
}

.socials_logo {
    max-height: 48px;
    max-width: 48px;
}

